*.exe
*.opendb
*.db-shm
*.ipch
*.db-wal
*.db
*.o
*.sqlite
Week 4/.vs/ProjectSettings.json
*.json
Week 4/.vs/Week 4/v16/.suo
*.vscode
*.class
*.class
*.class
*.class
*.class
Java Term Project/Java Term Project (Part 1)/Java Term Project (Part 1)/players.txt
Java Term Project/Java Term Project (Part 1)/Java Term Project (Part 1)/players.txt
*.class
*.zip
*.xml
*.iml
